<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="xin.xiaoer.modules.chat.dao.ChatGroupUserDao">

	<!-- 可根据自己的需求，是否要使用 -->
    <resultMap type="xin.xiaoer.modules.chat.entity.ChatGroupUser" id="chatGroupUserMap">
        <result property="id" column="id"/>
        <result property="spaceId" column="space_id"/>
        <result property="userId" column="user_id"/>
        <result property="createAt" column="create_at"/>
    </resultMap>

	<select id="get" resultType="xin.xiaoer.modules.chat.entity.ChatGroupUser">
		select * from chat_group_user where id = #{value}
	</select>

	<select id="getBySpaceAndUser" resultType="xin.xiaoer.modules.chat.entity.ChatGroupUser">
		select *
		from chat_group_user
		where user_id = #{userId}
		and space_id = #{spaceId}
		limit 1
	</select>

	<select id="getList" resultType="xin.xiaoer.modules.chat.entity.ChatGroupUser">
		select * from chat_group_user t <include refid="where_clause" />
        <choose>
            <when test="sidx != null and sidx.trim() != ''">
                order by ${sidx} ${order}
            </when>
			<otherwise>
                order by id desc
			</otherwise>
        </choose>
		<if test="offset != null and limit != null">
			limit #{offset}, #{limit}
		</if>
	</select>
	
 	<select id="getCount" resultType="int">
		select count(*) from chat_group_user t  <include refid="where_clause" />
	</select>

    <!-- 搜索数据区域 -->
    <sql id="where_clause">
        <where>
            1=1
            <if test="id != null and id != ''"> and t.id = #{id} </if>
    		<if test="idVague != null and idVague != ''"> and t.id like concat('%',#{idVague},'%') </if>
            <if test="spaceId != null and spaceId != ''"> and t.space_id = #{spaceId} </if>
    		<if test="spaceIdVague != null and spaceIdVague != ''"> and t.space_id like concat('%',#{spaceIdVague},'%') </if>
            <if test="userId != null and userId != ''"> and t.user_id = #{userId} </if>
    		<if test="userIdVague != null and userIdVague != ''"> and t.user_id like concat('%',#{userIdVague},'%') </if>
            <if test="createAt != null and createAt != ''"> and t.create_at = #{createAt} </if>
    		<if test="createAtVague != null and createAtVague != ''"> and t.create_at like concat('%',#{createAtVague},'%') </if>
        </where>
    </sql>
	 
	<insert id="save" parameterType="xin.xiaoer.modules.chat.entity.ChatGroupUser" useGeneratedKeys="true" keyProperty="id">
		insert into chat_group_user
		(
			`space_id`, 
			`user_id`, 
			`create_at`
		)
		values
		(
			#{spaceId}, 
			#{userId}, 
			NOW()
		)
	</insert>
	 
	<update id="update" parameterType="xin.xiaoer.modules.chat.entity.ChatGroupUser">
		update chat_group_user 
		<set>
			<if test="spaceId != null">`space_id` = #{spaceId}, </if>
			<if test="userId != null">`user_id` = #{userId}, </if>
			`create_at` = NOW()
		</set>
		where id = #{id}
	</update>
	
	<delete id="delete">
		delete from chat_group_user where id = #{value}
	</delete>
	
	<delete id="deleteBatch">
		delete from chat_group_user where id in 
		<foreach item="id" collection="array" open="(" separator="," close=")">
			#{id}
		</foreach>
	</delete>

</mapper>