<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="xin.xiaoer.modules.help.dao.HelpCenterDao">

	<!-- 可根据自己的需求，是否要使用 -->
    <resultMap type="xin.xiaoer.modules.help.entity.HelpCenter" id="helpCenterMap">
        <result property="helpId" column="help_id"/>
        <result property="title" column="title"/>
        <result property="content" column="content"/>
		<result property="category" column="category"/>
        <result property="readCount" column="read_count"/>
        <result property="state" column="state"/>
        <result property="createAt" column="create_at"/>
        <result property="createBy" column="create_by"/>
        <result property="updateAt" column="update_at"/>
        <result property="updateBy" column="update_by"/>
    </resultMap>

	<select id="get" resultType="xin.xiaoer.modules.help.entity.HelpCenter">
		select * from help_center where help_id = #{value}
	</select>

	<select id="getByCategory" resultType="xin.xiaoer.modules.help.entity.HelpCenter">
		select * from help_center where category = #{value} limit 1
	</select>

	<select id="getList" resultType="xin.xiaoer.modules.help.entity.HelpCenter">
		select * from help_center t <include refid="where_clause" />
        <choose>
            <when test="sidx != null and sidx.trim() != ''">
                order by ${sidx} ${order}
            </when>
			<otherwise>
                order by help_id desc
			</otherwise>
        </choose>
		<if test="offset != null and limit != null">
			limit #{offset}, #{limit}
		</if>
	</select>
	
 	<select id="getCount" resultType="int">
		select count(*) from help_center t  <include refid="where_clause" />
	</select>

    <!-- 搜索数据区域 -->
    <sql id="where_clause">
        <where>
            1=1
            <if test="helpId != null and helpId != ''"> and t.help_id = #{helpId} </if>
    		<if test="helpIdVague != null and helpIdVague != ''"> and t.help_id like concat('%',#{helpIdVague},'%') </if>
			<if test="category != null and category != ''"> and t.category = #{category} </if>
			<if test="categoryVague != null and categoryVague != ''"> and t.category like concat('%',#{categoryVague},'%') </if>
            <if test="title != null and title != ''"> and t.title = #{title} </if>
    		<if test="titleVague != null and titleVague != ''"> and t.title like concat('%',#{titleVague},'%') </if>
            <if test="content != null and content != ''"> and t.content = #{content} </if>
    		<if test="contentVague != null and contentVague != ''"> and t.content like concat('%',#{contentVague},'%') </if>
            <if test="readCount != null and readCount != ''"> and t.read_count = #{readCount} </if>
    		<if test="readCountVague != null and readCountVague != ''"> and t.read_count like concat('%',#{readCountVague},'%') </if>
            <if test="state != null and state != ''"> and t.state = #{state} </if>
    		<if test="stateVague != null and stateVague != ''"> and t.state like concat('%',#{stateVague},'%') </if>
            <if test="createAt != null and createAt != ''"> and t.create_at = #{createAt} </if>
    		<if test="createAtVague != null and createAtVague != ''"> and t.create_at like concat('%',#{createAtVague},'%') </if>
            <if test="createBy != null and createBy != ''"> and t.create_by = #{createBy} </if>
    		<if test="createByVague != null and createByVague != ''"> and t.create_by like concat('%',#{createByVague},'%') </if>
            <if test="updateAt != null and updateAt != ''"> and t.update_at = #{updateAt} </if>
    		<if test="updateAtVague != null and updateAtVague != ''"> and t.update_at like concat('%',#{updateAtVague},'%') </if>
            <if test="updateBy != null and updateBy != ''"> and t.update_by = #{updateBy} </if>
    		<if test="updateByVague != null and updateByVague != ''"> and t.update_by like concat('%',#{updateByVague},'%') </if>
        </where>
    </sql>
	 
	<insert id="save" parameterType="xin.xiaoer.modules.help.entity.HelpCenter" useGeneratedKeys="true" keyProperty="helpId">
		insert into help_center
		(
			`title`, 
			`content`,
			`category`,
			`read_count`, 
			`state`, 
			`create_at`, 
			`create_by`, 
			`update_at`, 
			`update_by`
		)
		values
		(
			#{title}, 
			#{content},
			#{category},
			#{readCount}, 
			#{state}, 
			NOW(),
			#{createBy}, 
			NOW(),
			#{updateBy}
		)
	</insert>
	 
	<update id="update" parameterType="xin.xiaoer.modules.help.entity.HelpCenter">
		update help_center 
		<set>
			<if test="title != null">`title` = #{title}, </if>
			<if test="content != null">`content` = #{content}, </if>
			<if test="category != null">`category` = #{category}, </if>
			<if test="readCount != null">`read_count` = #{readCount}, </if>
			<if test="state != null">`state` = #{state}, </if>
			<if test="updateBy != null">`update_by` = #{updateBy},</if>
			`update_at` = NOW()
		</set>
		where help_id = #{helpId}
	</update>
	
	<delete id="delete">
		delete from help_center where help_id = #{value}
	</delete>
	
	<delete id="deleteBatch">
		delete from help_center where help_id in 
		<foreach item="helpId" collection="array" open="(" separator="," close=")">
			#{helpId}
		</foreach>
	</delete>

</mapper>