<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="xin.xiaoer.modules.story.dao.SpaceStoryHtmlDao">

	<!-- 可根据自己的需求，是否要使用 -->
    <resultMap type="xin.xiaoer.modules.story.entity.SpaceStoryHtml" id="spaceStoryHtmlMap">
        <result property="storyId" column="story_id"/>
        <result property="htmlLink" column="html_link"/>
    </resultMap>

	<select id="get" resultType="xin.xiaoer.modules.story.entity.SpaceStoryHtml">
		select * from space_story_html where story_id = #{value}
	</select>

	<select id="getList" resultType="xin.xiaoer.modules.story.entity.SpaceStoryHtml">
		select * from space_story_html t <include refid="where_clause" />
        <choose>
            <when test="sidx != null and sidx.trim() != ''">
                order by ${sidx} ${order}
            </when>
			<otherwise>
                order by story_id desc
			</otherwise>
        </choose>
		<if test="offset != null and limit != null">
			limit #{offset}, #{limit}
		</if>
	</select>
	
 	<select id="getCount" resultType="int">
		select count(*) from space_story_html t  <include refid="where_clause" />
	</select>

    <!-- 搜索数据区域 -->
    <sql id="where_clause">
        <where>
            1=1
            <if test="storyId != null and storyId != ''"> and t.story_id = #{storyId} </if>
    		<if test="storyIdVague != null and storyIdVague != ''"> and t.story_id like concat('%',#{storyIdVague},'%') </if>
            <if test="htmlLink != null and htmlLink != ''"> and t.html_link = #{htmlLink} </if>
    		<if test="htmlLinkVague != null and htmlLinkVague != ''"> and t.html_link like concat('%',#{htmlLinkVague},'%') </if>
        </where>
    </sql>
	 
	<insert id="save" parameterType="xin.xiaoer.modules.story.entity.SpaceStoryHtml">
		insert into space_story_html
		(
			`story_id`, 
			`html_link`
		)
		values
		(
			#{storyId}, 
			#{htmlLink}
		)
	</insert>
	 
	<update id="update" parameterType="xin.xiaoer.modules.story.entity.SpaceStoryHtml">
		update space_story_html 
		<set>
			<if test="htmlLink != null">`html_link` = #{htmlLink}</if>
		</set>
		where story_id = #{storyId}
	</update>
	
	<delete id="delete">
		delete from space_story_html where story_id = #{value}
	</delete>
	
	<delete id="deleteBatch">
		delete from space_story_html where story_id in 
		<foreach item="storyId" collection="array" open="(" separator="," close=")">
			#{storyId}
		</foreach>
	</delete>

</mapper>